---
import Section from "../Section.astro"
import {education, awards, certificates,languages} from  "@cv"

---
<Section title="Educación">
    <ul>
        {
            education.map(
                ({institution,area,studyType,startDate,endDate,score,courses})=>{
                    const startYear = new Date(startDate).getFullYear()
                    const endYear = endDate != null ? new Date(endDate).getFullYear(): "Actual"
                    const years = startYear != endYear ? `${startYear} - ${endYear}`: `${startYear}`
                    return(
                        <li>
                            <article>
                                <header>
                                    <div>
                                        <h3>{institution}</h3>
                                        <h4>{area} {studyType}</h4>
                                    </div>
                                    <time>{years}</time>
                                    </header>
                                    <footer>
                                        
                                       <!-- {courses}--> 

                                        
                                    </footer>
                            </article>    
                        </li>
                    )
                }
            )
           

        }
        <h2>Idiomas</h2>
        {
            languages.map(
                ({language,fluency})=>{
                    return(
                        <li>
                            <article>
                                <header>
                                    <div>
                                        <h3>{language}</h3>
                                        <h4>{fluency}</h4>
                                        </div>
                                    </header>
                                </article></li>
                    )
                }
            )
        }
        <h2>premios</h2>
        {
             awards.map(
                ({title,date})=>{
                    return(
                        <li>
                            <article>
                                <header>
                                    <div>
                                    
                                    <h4>{title}</h4>
                                    </div>
                                    <time>{date}</time>
                                    </header>
                                   
                                </article>
                            </li>
                    )
                }
            )
        }
        <h2>Certificaciones</h2>
        {
            certificates.map(
                ({name,date,issuer,url})=>{
                    return(
                        <li>
                            <article>
                                <header>
                                    <div>
                                       <a class="tooltip" href={url} ><h3>{name}</h3><span class="tooltip-box">presiona sobre el titulo para ir a la certificacion</span></a> 
                                        <h4>{issuer} </h4>
                                        </div>
                                        <time>{date}</time>
                                    </header>
                                </article>
                            </li>
                    )
                }
            )
        }
        
    </ul>
</Section>
<style>
    ul{
        display: flex;
        flex-direction: column;
    }
    article h3{
        color: #111;
        margin: 0;
    }
    article h4{
        color: #222;
        font-weight: 400;
        margin:0;

    }
    header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2px;
    }
    time{
        color: #555;
        font-size: 0.85rem;
    }
    h2{
        font-size: larger;
    }
    .tooltip{
        position: relative;
    }
    .tooltip-box{
        display: none;
        position: absolute;
        background: #000;
        line-height: 20px;
        z-index: 500;
        text-align: center;
        color:#fff;
        padding: 5px 10px;
        font-size: 16px;
        border-radius: 5px;
        left:0;
        bottom: 30px;
    }
    .tooltip-box::after{
        content: "";
        display: block;
        border-top: 7px solid #000;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        position: absolute;
        bottom: -7px;
        left: calc(50% - 7px)

    }
    .tooltip:hover .tooltip-box{
        display: inline-block;
    }
</style>